body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: gray;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: inherit;
}

#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #dbdde0;*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}
#sidebar ul li a:hover {
    color: inherit;
    background: #8c8c8c;
    text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: inherit;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: inherit;
}

#content {
    padding: 20px;
    width: 100%;
}

#main-content {
    padding-top: 20px;
}

#cards {
    display: flex;
    align-items: center;
    justify-content: center
    flex-direction: column;
    width: 100%;
    text-align: center;
    /*margin: 5% 0;*/
    min-height: 300px;
    padding: 15px;
}
.componentCard {
    display: inline-block;
    float: left;
    margin-left:20px;
    border: 2px solid gray;
    padding:15px;
}
