.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 180px;
    max-width: 300px;
    min-height: 100vh;
    border-right: 2px solid black;
}

a[data-toggle="collapse"] {
    position: relative;
    color: rgb(255,255,255);
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#homeBtn {
    text-decoration: none;
}

.navbar-expand-lg {
    background-color: #fff !important;
}
#homeBtn {
    text-decoration: none;
    color: #fff;
}
