{% extends "base.html" %}
{% block content %}
<div id="content">
    <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
        </div>
    </nav>-->
    
    <div id="main-content">
        <h1>Title</h1>
        <h3>Sub title</h3>

            <p>This is some text above the component cards</p>
        </div>

        <div id="cards" class="flex flex-horizontal-center">
            <div class="componentCard">
                <h4>Todo:<hr></h4>
                <p>
                = Todo =
                - [o] Create navbar<br>
                - [X] Switch login/logout buttons<br>
                - [ ] Settings cog/twitter style user top right menu for settings and profile etc<br>
                - [ ] Create homepage<br>
                - [ ] Create card component screen<br>
                - [ ] Other content on screen<br>
                - [ ] Create sidebar<br>
                - [ ] Functionality, dynamic based on added components<br>
                - [ ] How to store user data safely, (store rc in drive?)<br>
                - [X] Add validation and switchin of buttons on session basis<br>
                - [ ] Create journal component<br>
                - [ ] Text editor<br>
                - [ ] Save to google drive<br>
                - [ ] font changing<br>
                - [ ] word style toolbar<br>
                - [ ] vim plugin<br>
                - [ ] vim rc file<br>
                - [X] fix /end_path 'life'<br>
                - [ ] Add google login OAuth protocol<br>
                - [ ] Figure out ssl problem<br>
                - [ ] Chart plotting<br>
                - [ ] Custom charts<br>
                - [ ] Base component blueprint<br>
                - [X] Split routes to blueprints<br>
                </p><br>
                <button class="btn btn-sml btn-primary btn-block" type="button">Start Component 1</button>
            </div>
            <div class="componentCard">
                <h4>Ideas</h4>     
                <p>
                    = Ideas =<br>
                    - [ ] Ability to export journal entries or data plots as csv/json<br>
                    - [ ] Open source api? / Ability to add new trackers<br>
                    - [ ] Flask blueprint per component<br>
                </p>
                <button class="btn btn-sml btn-primary btn-block" type="button">Start Component 1</button>
            </div>
            <div class="componentCard">
                <h4>Keep Going!</h4>     
                <p>Future you will thank you</p>
                <button class="btn btn-sml btn-primary btn-block" type="button">Start Component 2</button>
            </div>
            <div class="componentCard">
                <h4>Dashboard 3</h4>     
                <p>This is the text for component 3</p>
                <button class="btn btn-sml btn-primary btn-block" type="button">Start Component 3</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
