<link href="static/css/navbar.css" rel="stylesheet" media="screen">
<nav id="sidebar">
    <div class="sidebar-header">
        <h3><a id="homeBtn" href="/">~</a>/trak{{end_path}} </h3>
        </div>

    <ul class="list-unstyled components">
        <p>Scratchpad</p>
        <li class="active">
            <!--<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>-->
        </li>
        {% if 'logged_in' not in session %}
        <li>
            <a href="/login">Login</a>
        </li>
        {% endif %}
        {% if 'logged_in' in session %}
        <li>
            <a href="/logout">Logout</a>
        </li>
        {% endif %}
        <li>
            <a href="/bujo">Bujo</a>
        </li>
        <li>
            <a href="/profile">Profile</a>
        </li>
        <li>
            <a href="#">+</a>
        </li>
    </ul>
</nav>
